{% extends "base.html" %}

{% block title %}Options Filter{% endblock %}

{% block content %}
    <h1>Options Filter</h1>
    <form action="/results" method="post">
        <div class="form-group">
            <label for="delta">Delta (0-100):</label>
            <input type="number" class="form-control" id="delta" name="delta" min="0" max="100" value="20" required>
        </div>
        <div class="form-group">
            <label for="spread_type">Spread Type:</label>
            <select class="form-control" id="spread_type" name="spread_type" required>
                <option value="put_credit_spread">Put Credit Spread</option>
                <option value="call_credit_spread">Call Credit Spread</option>
                <option value="iron_condor">Iron Condor</option>
            </select>
        </div>
        <div class="form-group">
            <label for="spread_width">Spread Width:</label>
            <input type="number" class="form-control" id="spread_width" name="spread_width" min="0" value="5" required>
        </div>
        <div class="form-group">
            <label for="expiration_date">Expiration Date:</label>
            <input type="date" class="form-control" id="expiration_date" name="expiration_date" value={{ default_date }} required >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
